name: ci

on:
  push:
    paths:
      - "**.cmake"
      - "**/CMakeLists.txt"
      - ".github/workflows/ci.yml"


jobs:

  core:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    env:
      FC: gfortran-13

    steps:
    - uses: actions/checkout@v4

    - name: Install Ninja
      run: cmake -Dprefix:PATH=~/ninja -P scripts/install_ninja.cmake

    - name: Install CMake
      run: cmake -Dprefix:PATH=~/cmake -P scripts/install_cmake.cmake

    - name: CMake path (linux)
      if: runner.os == 'Linux'
      run: echo "$HOME/ninja:$HOME/cmake/bin" >> $GITHUB_PATH

    - name: CMake path (macOS)
      if: runner.os == 'macOS'
      run: echo "$HOME/ninja:$HOME/cmake/CMake.app/Contents/bin" >> $GITHUB_PATH

    - name: CMake path (Windows)
      if: runner.os == 'Windows'
      run: echo "$env:userprofile/ninja;$env:userprofile/cmake/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - run: echo $PATH

    - run: cmake --version
    - run: ninja --version


    - name: configure cmake
      run: cmake -G Ninja --preset default

    - run: cmake --build --preset release

    - run: ctest --preset release
