name: ci

on:
  push:
    paths:
      - "**.cmake"
      - "**/CMakeLists.txt"
      - ".github/workflows/ci.yml"


jobs:

  core:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - run: echo $PATH

    - run: cmake --version

    - name: set macOS Gfortran
      if: runner.os == 'macOS'
      run: echo "FC=gfortran-14" >> $GITHUB_ENV

    - name: configure cmake (w/ Fortran)
      if: runner.os != 'Windows'
      run: cmake --preset default

    - name: configure CMake (w/o Fortran)
      if: runner.os == 'Windows'
      run: cmake -Dfortran=no --preset default

    - run: cmake --build --preset release

    - run: ctest --preset release
